.form {
    $form: &;

    &__title {
        color: #ffffff;
        font-family: 'Ubuntu', sans-serif;
        font-size: 3rem;

    }

    &__wrapper {
        margin-top: 70px;
        width: 1205px;

    }

    &__top {

        display: flex;
        justify-content: space-between;
    }

    &__input {
        width: 580px;
        padding-bottom: 20px;
        color: #b2b2b2;
        font-family: 'Ubuntu', sans-serif;
        font-size: 2.1rem;
        outline: none;
        border: none;
        border-bottom: 2px solid #c6c6c6;
        background-color: #000;
    }

    &__field-text {
        margin-top: 145px;
    }

    &__textarea {
        max-width: 1205px;
        width: 100%;
        color: #b2b2b2;
        font-family: 'Ubuntu', sans-serif;
        font-size: 2.1rem;
        outline: none;
        border: none;
        border-bottom: 2px solid #c6c6c6;
        background-color: #000;
    }

    &__btn {
        width: 235px;
        height: 90px;
        margin-top: 70px;
        outline: none;
        border: none;
        color: #fff;
        font-family: 'Ubuntu', sans-serif;
        font-size: 3rem;
        cursor: pointer;
        background-color: #202020;
    }


}