.gallery {
    $gallery: &;
    max-width: 1479px;
    width: 100%;
    margin-top: 145px;

    &__list {
        display: flex;
        justify-content: space-between;
        #{$gallery}__item {
            list-style-type: none;
        }
    }
}