.footer {
    $footer: &;

    display: flex;
    justify-content: center;
    background-color: #343434;
    background-image: linear-gradient(to right, rgba(47, 61, 252, 0.35) 0%, rgba(100, 17, 135, 0.35) 73%, rgba(100, 17, 135, 0.35) 100%);
    padding: 80px 0 60px 0;

    &__wrapper {
        max-width: 1205px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}