.social {
    $social: &;

    max-width: 152px;
    width: 100%;
    text-align: end;

    &__list {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;

        #{$social}__item {
            list-style-type: none;
        }
    }

    &__span {

        font-family: 'Ubuntu', sans-serif;
        font-size: 1.2rem;
        color: #fff;
    }

}