.krea {
    $krea: &;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 157px 0 134px 0;

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;

        #{$krea}__title {
            color: #303030;
            font-family: 'UniNeueBold';
            font-size: 6rem;
            text-transform: uppercase;
        }

        #{$krea}__subtitle {
            position: relative;
            font-family: 'Ubuntu', sans-serif;
            font-size: 3rem;
            color: #787878;

            &::after {
                content: '';
                position: absolute;
                bottom: -16px;
                left: 25px;
                width: 50px;
                height: 2px;
                background-color: #4a4a4a;
            }
        }
    }

    &__wrapper {
        max-width: 1465px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 132px;
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;

        #{$krea}__title-wrap {
            margin-top: 69px;
            color: #787878;
            font-family: 'Ubuntu', sans-serif;
            font-size: 4.5rem;
        }

        #{$krea}__text {
            margin-top: 74px;
            max-width: 442px;
            color: #5f5f5f;
            font-family: 'Ubuntu', sans-serif;
            font-size: 2.4rem;
            text-align: left;
        }
    }

    &__btn {
        width: 295px;
        height: 63px;
        margin-top: 148px;
        cursor: pointer;
        text-transform: uppercase;
        font-family: 'Ubuntu', sans-serif;
        font-size: 2.3rem;
        color: white;
        background-color: #343434;
        background-image: linear-gradient(to right, rgba(47, 61, 252, 0.35) 0%, rgba(100, 17, 135, 0.35) 73%, rgba(100, 17, 135, 0.35) 100%);
        border-radius: 35px;
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
        -ms-border-radius: 35px;
        -o-border-radius: 35px;
    }
}