.references {
    $references: &;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 100px 0;

    &__title {
        color: #787878;
        font-family: 'UniNeueBold';
        font-size: 3rem;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: -10px;
            left: 45px;
            width: 50px;
            height: 2px;
            background-color: #4a4a4a;
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1459px;
        width: 100%;
        margin-top: 100px;

        #{$references}__pic {
            position: relative;

            &::after {
                content: '';
                top: 133px;
                left: -33px;
                position: absolute;
                width: 357px;
                height: 357px;
                z-index: -1;
                background-image: url(../images/references/references-image-bg.png);
            }
        }
    }

    &__inner {
        max-width: 946px;

        #{$references}__subtitle {
            font-family: 'Ubuntu', sans-serif;
            font-size: 4.5rem;
            color: #303030;
        }

        #{$references}__text {
            margin-top: 50px;
            font-family: 'Ubuntu', sans-serif;
            font-size: 2.2rem;
            color: #5f5f5f;
        }

    }
    
}